<config>

	<input_dir_base>..\..\footage\</input_dir_base>
	<rig_spec>rig_spec-ipcam4.xml</rig_spec>
	<calib_rig_spec>calib_rig_spec-ipcam-test.xml</calib_rig_spec>
	<use_calibrate>true</use_calibrate>
	<video_input>video_input-ipcam4.xml</video_input>
	<stitcher_spec>stitcher_spec-ipcam4.xml</stitcher_spec>
	<rtmp_addr>rtmp://127.0.0.1/hls/1</rtmp_addr>
	<!--<record>
		<record_path>.</record_path>
	</record> -->
	<audio>
		<audio_rig_spec>audio_rig_spec-mic.xml</audio_rig_spec>
		<audio_input>audio_rig_spec-mic.xml</audio_input>
		<audio_type>mic</audio_type>
	</audio>

</config>